language: java
jobs:
  include:
   - if: repo = alfasoftware/astra AND head_repo = alfasoftware/astra AND type = pull_request
     name: "Test"
     script:
        - git fetch --quiet
        - mvn clean verify
   - if: repo = alfasoftware/astra AND (branch = main OR tag IS present) AND NOT type = pull_request
     name: "Deploy"
     script:
        - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
        - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
        - mvn clean deploy --settings .maven-settings.xml -B -U -Prelease
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
